<main class="fixed top-0 z-50 w-full border-b border-gray-200 bg-white">
  <div class="relative mx-auto flex h-[65px] items-center px-6 md:px-10">

    <!-- Logo -->
    <div class="flex items-center">
      <img
        src="/etz-logo.png"
        alt="ETZ logo"
        class="h-6 w-auto object-contain"
      />
    </div>

    
    <!-- Center Navigation -->
    <nav class="absolute left-1/2 flex -translate-x-1/2 items-center gap-1">

      <a
        routerLink="/dashboard"
        routerLinkActive="nav-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link">
        Dashboard
      </a>
    

  

      <!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM -->
      @if (roleService.hasRole(['executive'])) {
  <a
    routerLink="executives/department-performance"
    routerLinkActive="nav-link-active"
    [routerLinkActiveOptions]="{ exact: false }"
    class="nav-link"
  >
    Departments
  </a>

  <a
    routerLink="executives/manager-performance"
    routerLinkActive="nav-link-active"
    [routerLinkActiveOptions]="{ exact: false }"
    class="nav-link"
  >
    Managers
  </a>

   <a
    routerLink="executives/employee-performance"
    routerLinkActive="nav-link-active"
    [routerLinkActiveOptions]="{ exact: false }"
    class="nav-link"
  >
    Employees
  </a>
}



@if (roleService.hasRole(['manager', 'employee'])) {
  <a
    [routerLink]="
      roleService.hasRole('employee')
        ? '/elevate/user-elevate'
        : '/elevate/manager-elevate'
    "
    routerLinkActive="nav-link-active"
    [routerLinkActiveOptions]="{ exact: false }"
    class="nav-link"
  >
    Elevate
  </a>

  <a
    routerLink="/activities-layout"
    routerLinkActive="nav-link-active"
    [routerLinkActiveOptions]="{ exact: false }"
    class="nav-link"
  >
    My Activities
  </a>
}


<!-- MANAGER -->
 @if (roleService.hasRole(['manager'])) {
  <a
    routerLink="set-target"
    routerLinkActive="nav-link-active"
    [routerLinkActiveOptions]="{ exact: false }"
    class="nav-link"
  >
    Set Targets
  </a>

  <a
    routerLink="team-review"
    routerLinkActive="nav-link-active"
    [routerLinkActiveOptions]="{ exact: false }"
    class="nav-link"
  >
    Team Review
  </a>

}

  @if (roleService.hasRole('hr')) {
    <a
      routerLink="hr/kpi-templates"
      routerLinkActive="nav-link-active"
      class="nav-link">
      KPI Templates
    </a>
  }

  @if (roleService.hasRole('hr')) {
    <a
      routerLink="hr/performance-cycles"
      routerLinkActive="nav-link-active"
      class="nav-link">
      Performance Cycles
    </a>
  }

  @if (roleService.hasRole('hr')) {
    <a
      routerLink="hr/departments"
      routerLinkActive="nav-link-active"
      class="nav-link">
      Departments
    </a>
  }

    @if (roleService.hasRole('hr')) {
    <a
      routerLink="hr/validation"
      routerLinkActive="nav-link-active"
      class="nav-link">
      Validation
    </a>
  }

    </nav>

    <!-- User -->
    <div class="ml-auto flex items-center gap-3">

      <div class="flex flex-col text-right">
        <span class="text-[13px] font-semibold text-gray-900">
          Sally Smith
        </span>

        <span class="text-[11px] text-gray-500">
          Customer Support
        </span>
      </div>

      <div
        class="flex h-9 w-9 items-center justify-center rounded-full bg-gray-200 text-sm font-medium text-gray-600"
      >
        S
      </div>

    </div>

  </div>
</main>

<div class="bg-[#F5F7FA] pt-[65px]">
  <router-outlet></router-outlet>
</div>